node_modules/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/src/main/assets/public/
android/capacitor-cordova-android-plugins/build/
*.apk
!awesome-god.apk
*.aab
.DS_Store